In [1]:
import re
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

# Exercise 
Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [2]:
def is_vowel(string):
    pattern = r'^[aeiouAEIOU]$'
    return bool(re.search(pattern, string))

In [5]:
is_vowel('c')

False

In [32]:
is_vowel('D')

False

In [33]:
is_vowel('E')

True

# Exercise 
Write a function named is_valid_username that accepts a string as input.
- A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. 
- It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [26]:
def is_valid_username(string):
    pattern = r'^[a-z][a-z\d_]{,31}$'
    return bool(re.search(pattern,string))

In [27]:
is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')

False

In [28]:
is_valid_username('codeup')

True

In [29]:
is_valid_username('Codeup')

False

In [30]:
is_valid_username('codeup123')

True

In [31]:
is_valid_username('1codeup')

False

# Exercise 
Write a regular expression to capture phone numbers. It should match all of the following:

`(210) 867 5309
+1 210.867.5309
867-5309
210-867-5309
`

In [167]:
numbers = [
    '(210) 867 5309',
    '+1 210.867.5309',
    '867-5309',
    '210-867-5309',
]

pattern = re.compile(r'''
^
(?P<country_code>\+\d+)?\D*?
(?P<area_code>\d{3})?\D*?
(?P<exchange_code>\d{3})\D
(?P<line_number>\d{4})
$
''', re.VERBOSE)

phone_numbers = [re.search(pattern,number).groupdict() for number in numbers]
pd.DataFrame(phone_numbers)

  country_code area_code exchange_code line_number
0         None       210           867        5309
1           +1       210           867        5309
2         None      None           867        5309
3         None       210           867        5309

- re.VERBOSE ignores whitespace **in the regexp**, not in the original text
- Match.groupdict(): return a dictionary containing all the named subgroups of the match, keyed by the subgroup name.

# Exercise 
Use regular expressions to convert the dates below to the standardized year-month-day format.  
`02/04/19
02/05/19
02/06/19
02/07/19
02/08/19
02/09/19
02/10/19`

In [169]:
dates = [
    '02/04/19',
    '02/05/19',
    '02/06/19',
    '02/07/19',
    '02/08/19',
    '02/09/19',
    '02/10/19',
]

pattern=re.compile(r'''
^
(?P<month>\d{2})\/
(?P<date>\d{2})\/
(?P<year>\d{2})
$
''',re.VERBOSE)

In [174]:
pd.DataFrame([re.search(pattern,date).groupdict() for date in dates])

  month date year
0    02   04   19
1    02   05   19
2    02   06   19
3    02   07   19
4    02   08   19
5    02   09   19
6    02   10   19

In [172]:
[re.sub(pattern, r'20\3-\1-\2',date) for date in dates]

['2019-02-04',
 '2019-02-05',
 '2019-02-06',
 '2019-02-07',
 '2019-02-08',
 '2019-02-09',
 '2019-02-10']

# Exercise
Write a regex to extract the various parts of these logfile lines:  
`
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58`

# Exercise 
You can find a list of words on your mac at /usr/share/dict/words. Use this file to answer the following questions:

- How many words have at least 3 vowels?
- How many words have at least 3 vowels in a row?
- How many words have at least 4 consonants in a row?
- How many words start and end with the same letter?
- How many words start and end with a vowel?
- How many words contain the same letter 3 times in a row?
- What other interesting patterns in words can you find?